body
{
  font-family: 'Akaya Telivigala', cursive;
  background: #E2E8DD;
}

.header_div
  {
  background: #95A3A4;
  color: white; 
  text-align: center;
  top: 0;  
  }

  .header_div p{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
  }
  .main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
  }

  .footer{
      background-color: white;
      text-align: center;
      text-shadow: 5px 5px 5px rgb(151, 149, 149);
      font-size: 19px;
      line-height: 3;
      width: 100%;
      bottom: 0;
      position: fixed;
  }